/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom css */

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --primery: #4457b6;
  --btn-color: #f9464d;
  --bg-color: rgba(67, 91, 192, 0.9);
  --heading-color: #111b2c;
  --text-color: #29374e;
}
body {
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  line-height: 2rem;
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-60 {
  flex: 0 1 60%;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-20 {
  flex: 0 1 20%;
}
.nav,
.toggle {
  display: none;
}
#bar:checked ~ .nav {
  display: inline-block;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 12%;
  text-align: center;
  z-index: 99;
  background-color: rgba(67, 91, 192, 0.8);
}

.brand, .bar{
    z-index: 100;
}
.nav ul li{
    margin: 1rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;
}
.header {
  background: url(../media/banner.png), no-repeat;
  background-size: cover;
}
.header-main {
  max-width: 1200px;
  padding: 1rem 2rem;
  margin: 0 auto;
}

.nav li a {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}
.bg-color {
  background: var(--bg-color);
  z-index: 1;
}
h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  color: white;
  line-height: 4.5rem;
  padding-bottom: 2rem;
}
h1 strong {
  color: var(--btn-color);
}
.brand {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.text {
  color: white;
  font-size: 1.4rem;
  padding: 2rem 0;
}
.btn {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 1rem 2rem;
  background-color: var(--btn-color);
  display: inline-block;
  border: none;
  border-radius: 0.4rem;
}
.btn a {
  color: white;
}
.width-full {
  width: 100%;
}
h2 {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--heading-color);
}
.b-text {
  font-size: 1.1rem;
  font-weight: 300;
  padding-top: 1.4rem;
  color: var(--heading-color);
}
.about-btn {
  margin-top: 2rem;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--heading-color);
}
.border-R {
  position: relative;
}
.border {
  border: 1px dashed var(--btn-color);
  height: 55%;
  width: 1px;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 8%;
  z-index: -1;
}
.schedule,
.points h2 {
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.box {
  border: 1px dashed var(--btn-color);
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
}
.number {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--btn-color);
  background-color: #e0ecfe;
  width: 3rem;
  height: 3rem;
  text-align: center;
}
.box h3 {
  padding: 2rem 0;
}
.number {
  position: absolute;
  top: -1rem;
  left: 2rem;
}
.points {
  background-color: #e0ecfe;
}
.first-sch {
  flex: 0 1 100%;
  margin-top: 4rem;
}
.first-sch img {
  width: 100%;
}
.circle {
  z-index: 9;
  width: 5rem;
  height: 4rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: white;
  color: var(--btn-color);
  border: 1px dashed var(--btn-color);
}
.active {
  color: white;
  background-color: var(--btn-color);
}
.right-div {
    margin-top: -1.6rem;
  text-align: start;
  background-color: white;
}
.sch-btn {
  margin-top: 3rem;
}
.flex-24 {
  flex: 0 1 24%;
  padding: 0 5rem;
}
.margin-center {
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
}
h4 {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1rem 0;
}
.margin-center p {
  font-weight: 500;
}
.banner img {
  width: 100%;
  border-radius: 2rem;
}
.banner {
  position: relative;
}
.play-btn {
  color: var(--btn-color);
  background-color: white;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  padding-left: 0.3rem;
  border-radius: 50%;
}
.play-btn {
  position: absolute;
 top: 45%;
 left: 45%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.news {
  background-color: #e0ecfe;
}
.news h3 {
  text-align: center;
  margin-bottom: 3rem;
}
.news-artical img {
  width: 100%;
}
.news-artical {
  line-height: 2rem;
}
h5 {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--heading-color);
}
.news-artical p {
  color: var(--text-color);
}
.a-read {
  text-decoration: underline;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
}
.a-read-more {
  text-decoration: underline;
  color: var(--btn-color);
  font-size: 1.3rem;
  font-weight: 500;
}
.footer {
  background-color: #24387b;
}
.footer a {
  color: rgb(209, 208, 208);
}
h6 {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  padding: 1rem 0;
}
.socile {
  font-size: 1.5rem;
  margin: 0 0.7rem;
}
footer {
  background-color: #142f69;
  padding: 1.5rem;
}
small {
  display: flex;
  justify-content: center;
  color: rgb(209, 208, 208);
}
.flex-menu {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {

  .flex {
    flex-wrap: wrap;
    flex-direction: column;
  }

  img {
    width: 100%;
  }
  div {
    padding: 1rem;
  }
  .hero-div {
    margin: 0 1rem;
  }
  .border {
    padding: 0;
    top: 8%;
    height: 66%;
    left: 50%;
  }
  .col {
    margin-bottom: 1.2rem;
  }
  .margin-center {
    padding: 1rem 8rem;
  }
  .flex-menu {
    display: flex;
    justify-content: space-between;
  }
}
